<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/">HomePage</a></li>
        </ul>
    </nav>
    <header>HomePage</header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, minima? Ab debitis quaerat sint. Voluptate, necessitatibus vel. Ut laborum rem reiciendis velit, impedit et quidem voluptas provident deserunt, obcaecati dicta?</p>
    </main>
</body>
</html>